body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
img {
    aspect-ratio: 3 / 2;
    width: 90%;
    height: auto;
  }
@media (min-width: 1025px) {
.h-custom-2 {
    height: 100%;
    }
}